:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --main-btn-color: #ffffff;
  --second-btn-color: #212121;
  --header-text-color: #212121;
}

body {
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* -----------------------Шапка сайта--------------------- */

.header {
  background-color: #ffffff;
}

.logo-accent {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-second-accent {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
}

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.header-contacts-link {
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}
/* -----------------------Герой--------------------- */

.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.hero-btn {
  cursor: pointer;
  background: #2196f3;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-btn-color);
}

/* -----------------------Особенности--------------------- */

.features {
  background-color: #ffffff;
}

.features-second-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.features-second-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* -----------------------Род занятий--------------------- */

.about {
  background: #ffffff;
}

.about-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

/* -----------------------Сотрудники-------------------- */

.team {
  background: #f5f4fa;
}

.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* -------------------Адресс------------------------ */

.footer {
  background-color: #2f303a;
}

.footer-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-link-second {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* ------------------------------Страница-ПОРТФОЛИО-------------------------------- */

/* -------------------Наши проэкты------------------------ */

.btn-button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-btn-color);
}

.btn-button:focus {
  background-color: var(--accent-color);
  color: var(--main-btn-color);
}

.pic-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.pic-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
